*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #faebd0;
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    letter-spacing: 15px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-weight: bold;
}

h4 {
    font-size: 20px;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dots p {
    letter-spacing: 10px;
}
